/* styles go here */
.formPart {
  margin-bottom: 20px;
}

.input {
  margin-bottom: 10px;
}

.input:first-of-type {
  margin-top: 0;
}

.input:last-of-type {
  margin-bottom: 0;
}

.catsRadio {
  margin-bottom: 10px;
}
